# JNTUA FDP - DAY  05
#### DATE:31 MAY 2019
#### DAY OBJECTIVES
* TUPLES
* DICTIONARIES
* LINEAR AND BINARY SEARCH
* DATE ARITHMETRIC
* ITERATORS AND GENERATORS
* FUNCTIONAL PROGRAMMING

#### PYTHON TUPLES

# TUPLES VALUES ARE FIXED DATA STRUCTURE WE CAN NOT CHANGE  we can just access the data.

In [2]:
t1 = (1001, 'name', 85, 72, 90)

In [3]:
t1

(1001, 'name', 85, 72, 90)

In [4]:
t1.append(85, 65, 70)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
t1[0]

1001

In [6]:
t1[2]

85

In [8]:
t1[2:]

(85, 72, 90)

In [10]:
t2 = (321, 654, 789098, 6453, 75456)
# accessing all the second digits of elements in a tuples
str(t2[0])[1], str(t2[1])[1], str(t2[2])[1]

('2', '5', '8')

In [13]:
# function to calculate the average of all elements in a tuple
def averagetuple(t):
    sum = 0
    for i in range (0, len(t)):
        sum += t[i]
    return sum/len(t)
    
    
averagetuple(t2)

174396.4

In [43]:
## function to calculate the average of all elements in a tuple
def averageLinearDs(t):
    sum = 0
    #for i in range (0, len(t)):
     #   sum += t[i]
    for item in t:
        sum += item
    return sum/len(t)

li = [123, 243, 456, 678, 890]

averageLinearDs(li)
type(li)

list

In [41]:
# function to search in linear data structure

def searchlineards(ds, key):
    for item in range(0, len(ds)):
        if ds[item] == key:
            return item
        return [-1]  
    
searchlineards(li, 456)

[-1]

#### iterable objects

In [30]:

s = "python"
for c in s:
    print(c)

p
y
t
h
o
n

In [36]:
#function identify the maximum element in a data structure

def maxelementsds(ds):
    m=ds[0]
    for item in ds:
        if item > m:
            m = item
    return m

maxelementsds(li)

890

#### python dictionaries

In [37]:
d1 = {'name1': 1225356865, 'name2': 3424515443414}
d1['name2']

3424515443414

In [38]:
d1 = {'name1': 1225356865, 'name2': 3424515443414}
d1['name2']

d1.keys()

dict_keys(['name1', 'name2'])

In [42]:
d1 = {'name1': 1225356865, 'name2': 3424515443414}
print(d1['name2'])

d1.keys() #all keys in a dictionary are unique
d1.values()

3424515443414

dict_values([1225356865, 3424515443414])

In [44]:
d1['name3'] = 57859465727
d1

{'name1': 1225356865, 'name2': 3424515443414, 'name3': 57859465727}

In [47]:
d1.pop('name1')# remove a key and value
d1

{'name2': 3424515443414}

In [61]:
#contact application
#display,add,modfy and delete contacts

contacts = {}

def addcontacts(d, name, phone):
    contacts[name] = phone
    return

def displaycontacts(contacts):
    for name, phone in contacts.items():
        print(name, ":", phone)
        return

In [62]:
addcontacts(contacts, 'name', 76766986987)

In [63]:
displaycontacts(contacts)

name : 76766986987

In [64]:
#display,add,modfy and delete contacts

contacts = {}

def addcontacts(d, name, phone):
    contacts[name] = phone
    return

def displaycontacts(contacts):
    for name, phone in contacts.items():
        print(name, ":", phone)
        return
    
def modifycontacts(contacts, name, newphone):
    contacts[name] = newphone
    return

def deletecontacts(contacts)

SyntaxError: invalid syntax (<ipython-input-64-46ed2d40a34a>, line 18)

In [69]:
li2 = [1, 2, 3, 4]
li3 = [3, 4, 5, 6, 7]
li2 = list(reversed(li2))

type(li2)

li2

[4, 3, 2, 1]

In [68]:
enumerate(li2)
for i, value in enumerate(li2):
    print(i, ':', value)

0 : 4
1 : 3
2 : 2
3 : 1

In [70]:
li2
li3

for i, j in zip(li2,li3):
    print(i, j)
    
zip(li2, li3)

4 3
3 4
2 5
1 6

In [ ]:
li2
li3

for i, j in zip(li2,li3):
    print(i, j)
    
zip(li2, li3)

#### regular expressions

In [ ]:
[0-9] RE for all digits
[0, 1, 1,3......9]

[a-z] RE for lower case alphabet
[A-Z] RE for upper case alphabet

[10]

In [ ]:
# function to validate college student roll number

# function to validate indian phone numbers starting 9,8,7,6 and

#funtion to  validate email address
    username@domain.extension
    username = {string of length 9. can contain digits and alphabets}
    username = {stringmof 9.can contain digits and alphabet}
    username = {length of 3. only alphabet}

In [74]:
import re
def phonenumbervalidator(phone):
    phone = str(phone)
    pattern = '^[6-9][0-9]{9}$'
    if re.match(pattern,phone):
        return TRUE
        return false
    
    
phonenumbervalidator(62345667890)

In [75]:
s1='Introduction to programming concepts with scratch, Scratch environment, sprites looks and motion, Angles and directions, repetition and variation, changing costumes, adding background, Input/Output,  variables and operators. Working with sounds and sprite communication and creating stories, App Generation.'

In [77]:
syllabuslist = re.split('[,][\ ]', s1)

syllabuslist

['Introduction to programming concepts with scratch',
 'Scratch environment',
 'sprites looks and motion',
 'Angles and directions',
 'repetition and variation',
 'changing costumes',
 'adding background',
 'Input/Output',
 ' variables and operators. Working with sounds and sprite communication and creating stories',
 'App Generation.']

#### python date and time arthemetic

In [79]:
import datetime

datetime.datetime.now().year

2019

In [80]:
import datetime

now = datetime.datetime.now()
now.day

31

In [81]:
import datetime

now = datetime.datetime.now()
now.second

14

In [82]:
import datetime

now = datetime.datetime.now()
now.month

5

In [83]:
import datetime

now = datetime.datetime.now()
now.minute

8

In [84]:
import datetime

now = datetime.datetime.now()
now.hour

17

In [85]:
import datetime

now = datetime.datetime.now()
print(now.hour, now.minute, now.second)

17 9 39

In [86]:
import datetime

now = datetime.datetime.now()
print(now.hour, now.minute, now.second)

print(now)

17 10 2
2019-05-31 17:10:02.874780

In [94]:
#function to find the difference between two given names
#yyyy:mm:dd is the date format as a string
import datetime
def datedifference(date1, date2):
    year1 = int(date1[:4])
    month1 = int(date1[5:7])
    day1 = int(date1[8:])
    year2 = int(date2[:4])
    month2 = int(date2[5:7])
    day2 = int(date2[8:])
    d1 = datetime.date(year1, month1, day1)
    d2 = datetime.date(year2, month2, day2)
    return d2 - d1
    
print(datedifference('0001:01:01', '2019:05:31'))

737209 days, 0:00:00

In [95]:
import calendar

calendar.isleap(2019)

False

In [96]:
import calendar

calendar.isleap(2016)

True

In [ ]:
# 2020 - true
# 1900 - false
# 1600 - true
# 2008 - true
# 400 - true
# 600 - false
#
def isleap(year):
    if (year % 4== 0 and year %100 != 0) or year % 4
    return TruE

## LIST COMPREHENSIONS

In [97]:


li = [1,2,3,4,5,6]

sum(li)

21

In [98]:



li = [1,2,3,4,5,6]
n = 123
sum(range(123))

7503

In [99]:


li = [1,2,3,4,5,6]

n = 123
sum(range(123))
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [100]:


li = [1,2,3,4,5,6]

n = 123
sum(range(123))
sum(list(range(9)))

36

In [101]:


li = [1,2,3,4,5,6]

n = 123
sum(range(123))
sum(list(range(9+1))) # sum of n natural numbers

45

In [109]:
# calculate sum of squareroot of n natural numbers

from math import sqrt
def sqrtNNaturalNumbers(n):
    return [sqrt(i) for i in list(range(1, n+1))]
sqrtNNaturalNumbers(10)

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [108]:


from math import sqrt
def sumsqrtNNaturalNumbers(n):
    return sum([sqrt(i)for i in list(range(1, n+1))])
sqrtNNaturalNumbers(10)
    
def squarelistelements(li):
    return [i ** 2 for i in li]

squarelistelements(li)

[1, 4, 9, 16, 25, 36]

In [110]:
#define a function using list comprehension to
#identify all numbers divisible by 9 in a list

li = list(range(1,50))

def divisible9lc(li):
    return[i for i in li if i % 9 ==0]
divisible9lc(li)

[9, 18, 27, 36, 45]

In [113]:


li = list(range(1979,2019))

def divisible9lc(li):
    return[i for i in li if( i % 4 ==0 and i% 100 != 0)or i % 400 == 0]
divisible9lc(li)

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

#### Maps

#### functions and iterators are passed as parameter to map

In [115]:

# function to calculate cubes of  all numbers in a list

li = [1,2,3,4,5,6]
def cube(n):
    return n ** 3


list(map(cube, li))

[1, 8, 27, 64, 125, 216]

In [116]:

# function to calculate cubes of  all numbers in a list


li = [1,2,3,4,5,6]
def cube(n):
    return n ** 3


len(list(map(cube, li)))

6

In [117]:

# function to calculate cubes of  all numbers in a list


li = [1,2,3,4,5,6]
def cube(n):
    return n ** 3


sum(list(map(cube, li)))

441

In [119]:

# function to calculate cubes of  all numbers in a list


li = [1,2,3,4,5,6]
def cube(n):
    return n ** 3

for i in li:
    cube(i)

sum([cube(i) for i in li])
    
sum(list(map(cube, li)))

441