# DOCUMENT TITLE
### DATE:30 MAY 2019
### SESSION OBJECTIVES
* TO INTRODUCTION *JUPYTER NOTEBOOK*
* TO INTRODUCE **MARKDOWN SYNTAX** 
* TO INTRODUCTION ***PYTHON***

<img scr
[LINK TO MAIN WEBSITE](https://sites.google.com/view/jntua-17001d2319/worklog/day-4)

<img scr='python-logo.png'/>

  * BASIC SYNTAX(VARIABLES,ASSIGNMENTS,DATA TYPES)  
  * CONTROL STRUCTURE  
     *1.ADDTION  
     *2.SUBTRACTION  
     *3.DIVISION

# python basics

In [4]:
print("hello world !")

hello world !

In [12]:
print("hello world!") # single parameter
print("hello","world",end=" , ") # multiple parameters
#print("hello"+"world") #concatenation using+

hello world!
hello world ,

In [26]:
# this is a comment

n = input("enter a value") # caputure the input and store it
print(n)

enter a value123 234 345
123 234 345

In [18]:
n = int(n) # type conversion to integer and reassign
n * n / 12345 - 12345 # expression evaluation using standard operator

0.0

In [21]:
a=b=c=n # assigning single value to multiple 
a
print (a,b, '\n',c)
c
d,e,f=123,234,345 # assigng multiple
print(d,type(d),e,f)

12345 12345
 12345

12345

In [28]:
#type conversion
print(type(c))
c = str(c)
print (type(c))
c = float(c)
print(type(C))

<class 'float'>
<class 'str'>

NameError: name 'C' is not defined

# sting slicing

In [33]:
s1 = 'python programming'
s1[len(s1)-1]

'g'

In [34]:
s1 = 'python programming'
s1[-2]

'n'

In [36]:
s1 = 'python programming'
s1[-1]# acessing the last character

'g'

In [37]:
s1 = 'python programming'
s1[0:6]

'python'

In [ ]:
s1 = 'python programming'
s1[0] # acessing the first character
s1[0:6] #accessing the first six character

In [39]:
s1[7:-1]

'programmin'

In [40]:
s1[7:] # acessing all character from 7th index to last
s1[7:len(s1)]

'programming'

# resverse of string

In [41]:
s1[::-1] # reverse of the string

'gnimmargorp nohtyp'

In [43]:
s1[-1:6:-1] # reverse of substring

'gnimmargorp'

In [44]:
s1[5::-1] #reverse of substring

'nohtyp'

In [45]:
s1[len(s1)-1]

'g'

In [47]:
s2 ='123456789'
s2[-1:2:-1] # reverse of len(s2)-3 characters

'987654'

In [48]:
s2 ='123456789'
s2[5:2:-1] # reverse of middle character

'654'

# step functions using slicing mode

In [49]:
s2 ='123456789' # printing odd number by alternate character
s2[0::2]

'13579'

In [50]:
s2[0::3]

'147'

In [51]:
s2[1::2] #printing even number by alternate character

'2468'

In [52]:
s2[-1::-2]# alternate character in reverse order

'97531'

# Functions in python
# def-defination

In [55]:
# reverse a string
def reversestring(s):
    return s[::-1]

print(reversestring(s2))
reversestring(s1)

987654321

'gnimmargorp nohtyp'

In [59]:
#fuction to reverse a substring
def reversesubstring(s,i,j):
    return s[:i:-1]

reversesubstring('abcde', 1, 3)

'edc'

In [61]:
def reversesubstring(s,i,j):
    return s[j:i:-1]

reversesubstring('abcde', 1, 3

'dc'

In [67]:
def reversesubstring(s,i,j):
    sub =s[i:j+1]
    return sub[::-1]

reversesubstring('abcde', 0, 2)

'cba'

#### conditional control

In [81]:
# function to test divisibility by 9 and 11 and not 10
def divisibilitytest(n):
    if(n % 9 ==0 and n % 11 ==0 and n % 10 != 0):
        return True
    else:
         return False
divisibilitytest(990)

False

In [82]:
# recursive function for a power n

def powerN(a, n):
    if n== 0:
        return 1
    return a * powerN(a, n-1)

powerN(2,6)

64

In [92]:
#function to check if a given string is palindrome
def reverse(s):
    return s[::-1]
def ispalindrome(s):
    # calling reverse function
    rev = reverse(s)
    #checking if both the strings are equal or not
    if(s == rev):
        return True
    return False

#### iteration in python

In [95]:
for i in range(123,126):
    print(i)

123
124
125

In [96]:
#function to determine all number divisible by
# 7 in given a given range (lb,ub)

def divisible7(lb, ub):
    for i in range(lb, ub + 1):
        if i % 7 == 0:
            print(i)
            
            
divisible7(1,70)

In [105]:
# function to generate n prime numbers